<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testFlask" type="TestFlask.Aspects.Config.TestFlaskConfigSection, TestFlask.Aspects, PublicKeyToken=5b9114f222369bea, Version=1.0.0.0" />
    <section name="testFlaskAssistant" type="TestFlask.Assistant.Core.Config.TestFlaskAssistantConfigSection, TestFlask.Assistant.Core, PublicKeyToken=5b9114f222369bea, Version=1.0.0.0" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <testFlask>
    <api url="http://someUri" />
    <project key="UnitTest" />
  </testFlask>
  <testFlaskAssistant enabled="true">
  </testFlaskAssistant>
</configuration>